[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
C = CN
ST = Shanghai
L = Shanghai
O = MrJiang
OU = Dev
CN = 192.168.50.208

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.50.208
IP.2 = 127.0.0.1
DNS.1 = localhost
